/* src/pages/HomePage.css */
.page {
    padding: 2rem;
  }
  
  .page h2 {
    font-size: 2rem;
    color: #00004d;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  