/* src/components/MovieCard.css */
.movie-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .movie-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .movie-card h3 {
    font-size: 1.2rem;
    color: #333;
    margin: 0.5rem 0;
  }
  
  .movie-card p {
    font-size: 1rem;
    color: #666;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  